<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="static/c.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

</head>
<body>
Hello {{ g.user.get_username()}}!!
<ul>
    <li><a href="{{ url_for('index') }}">Home</a><br></li>
    <li><a href="{{ url_for('admin_page') }}">admin</a><br></li>
    <li><a href="{{ url_for('admin_hosts') }}">hosts</a><br></li>
    <li><a href="{{ url_for('logout') }}">logout</a><br></li>
</ul>

{% block content %}{% endblock %}
</body>
</html>