<!-- extend base layout -->
{% extends "admin/admin_base.html" %}

{% block content %}
<div class="add-host-form">
    <form action="{{ url_for('admin_hosts') }}" method="post">
        {{add_host_form.hidden_tag()}}

        <fieldset>
            {{add_host_form.host.label}}{{add_host_form.host}}{% for error in add_host_form.errors.host %}<span
                style="color: red;">[{{error}}]</span>{% endfor %}<br>
            {{add_host_form.xpath.label}}{{add_host_form.xpath}}{% for error in add_host_form.errors.xpath %}<span
                style="color: red;">[{{error}}]</span>{% endfor %}<br>
            {{add_host_form.submit.label}}{{add_host_form.submit(value_='asdasd')}}<br>
        </fieldset>
    </form>
</div>
<table id="hosts-table">
    <tbody>
    <tr>
        <th>Host</th>
        <th>Xpath</th>
        <th>Action</th>
    </tr>
    {% for xpath in xpaths -%}
    <tr>
        <td>{{xpath['host']}}</td>
        <td class="xpath-cell">{{xpath['xpath']}}</td>
        <td><a href="#" class="remove" name="{{ xpath['id']}}">remove</a> <br> <a class="edit" href="#"
                                                                                  name="{{xpath['id']}}">edit</a></td>
    </tr>
    {%- endfor %}
    </tbody>
</table>
<div id="delete-form">
    <span>Delete this host?</span>
    <button id="delete-submit">Ok</button>
    <button id="delete-cancel">Cancel</button>
</div>


<div id="edit-form">
    <span>Edit host?</span>

    <form action="{{ url_for('admin_hosts') }}" method="POST">
        {{edit_host_form.edit}}
        {{edit_host_form.host_to_edit.label}}{{edit_host_form.host_to_edit}}
        {{edit_host_form.edit_xpath_field.label}}{{edit_host_form.edit_xpath_field}}
        {{edit_host_form.edit_submit}}
        <span id="cancel-edit">Cancel</span>
    </form>
</div>
<div id="hider"></div>

<script type="text/javascript" src="../../static/jh.js"></script>
{% endblock %}
