body {
    font-family: "Courier New", monospace;
    width: 1000px;

}

table, th, td {
    border: 1px solid #000000;
    margin-top: 5px;
}

#table1 {
    float: left;
}

#table2 {
    float: right;
}

table {
    border-collapse: collapse;
}

td {
    padding: 3px 2px 1px 2px;
}

th {
    background-color: #A5D6D9;
}

.warn {
    color: red;
}

