body {
    font-family: "Courier New", monospace;
    width: 1024px;
    margin: 0 auto;
    margin-top: 20px;

}

.tt {
}

table, th, td {
    border: 1px solid #000000;
    margin-top: 5px;
    margin-bottom: 10px;
    margin: 0 auto;
    width: 450px;
}

div#table4, div#table {
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: center;
}

#table > span {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
}

td {
    padding: 3px 2px 1px 2px;
    text-align: center;
}

th {
    background-color: #A5D6D9;
}

.warn {
    color: red;
}

ins {
    background-color: lightgreen;
}

del {
    background-color: lightcoral;
}

#content {
    border: 1px solid #000000;
}

.add-url {
    margin: 0 auto;
    display: inline;
    text-align: center;
}

.add-url form {
    padding-bottom: 15px;
}

#url {
    width: 500px;
}