<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="static/c.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

</head>
<body>
<h2>ADMIN PAGE</h2>
<a href="/">home page</a><br>
<a href="/admin/hosts">hosts</a><br>


<div class="add-url">
    {% if hosts.count > 0 %}
    <form action="/admin" method="post"><label> Hosts </label>
        <select name="host_id">
            {% for host in hosts.hosts -%}
            <option value="{{host['_id']}}">{{ host['host'] }}</option>
            {%- endfor %}
        </select><br>
        <label>URL</label><input type="text" id="url" name="url"/><br>
        <input type="submit" value="Add">
    </form>
    {% endif %}
</div>

<table>
    <tbody>

    <tr>
        <th>Host</th>
        <th>URL</th>
        <th>Added Time</th>
        <th>Action</th>
    </tr>
    {% for url in urls -%}
    <tr>
        <td>{{ url['host'] }}</td>
        <td>{{ url['url'] }}</td>
        <td>{{ url['datetime'] }}</td>
        <td><a class="remove-link" href="#" name="{{ url['_id'] }}">remove</a></td>
    </tr>
    {%- endfor %}
    </tbody>
</table>
<div id="delete-form">
    <span>Delete this url?</span>
    <button id="delete-submit">Ok</button>
    <button id="delete-cancel">Cancel</button>
</div>
<div id="hider"></div>

<script src="static/j.js"></script>
</body>
</html>