<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div id="table">
    <span><a href="/">RETURN</a> </span>
    <br/>
    <br/>
    <table>
        <tbody>
        <tr>
            <th>Time</th>
            <th>Date</th>
            <th>URL</th>
            <th>Result</th>
            <th>Full dif</th>
            <th>Content dif</th>
        </tr>
        {% for result in results -%}
        <tr>
            <td>{{ result['time'] }}</td>
            <td> {{ result['date'] }}</td>
            <td><a href="{{ result['url'] }}" target="_blank">{{ result['url'] }}</a></td>
            <td>{% if result['areIdentical'] == 1 %} identical {% else %}
                <span class="warn">not identical</span> {% endif %}
            </td>
            <td><a href="/diff?f={{ result['compared_objs'][1] }}&s={{ result['compared_objs'][0] }}"
                   target="_blank">show</a></td>
            <td><a href="/diffc?f={{ result['compared_objs'][1] }}&s={{ result['compared_objs'][0] }}"
                   target="_blank">show</a></td>
        </tr>
        {%- endfor %}
        <tr>
            <td colspan="6"> {% if p <= 0 %}{% else %}<a href="/cp?p={{p-10}}"> <<< </a>{% endif %} ---- <a
                    href="/cp?p={{p+10}}"> >>></a></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
