<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<div id="table1" class="tt">
    <table id="t1">
        <tbody>
        <tr>
            <th>Verification date</th>
            <th>Verification time</th>
            <th>Result</th>
            <th>Url</th>
            <th>Link</th>
            <th>All checks</th>
        </tr>
        {% for result in results -%}
        <tr>
            <td> {{ result['date'] }}</td>
            <td> {{ result['time'] }}</td>
            <td>{% if result['areIdentical'] == 1 %} identical {% else %}
                <span class="warn">not identical </span>{% endif %}
            </td>
            <td>{{ result['url'] }}</td>
            <td><a href="{{ result['url'] }}" target="_blank">link</a>
            </td>
            <td><a href="p?ut={{ result['urlType'] }}"> all </a></td>
        </tr>
        {%- endfor %}
        </tbody>
    </table>
</div>
<div id="table4" class="tt">
    <span>All changes will appear here</span>
    <table id="t4">
        <tbody>
        <tr>
            <th>Url</th>
            <th>Time</th>
            <th>Date</th>
            <th>Result</th>
            <th>Full dif</th>
            <th>Content dif</th>
        </tr>
        {% for result in change_results -%}
        <tr>
            <td><a href="{{ result['url'] }}" target="_blank"> {{ result['url'] }} </a></td>
            <td>{{ result['time'] }}</td>
            <td> {{ result['date'] }}</td>
            <td>{% if result['areIdentical'] == 1 %} identical {% else %}
                <span class="warn">not identical</span> {% endif %}
            </td>
            <td><a href="/diff?f={{ result['compared_objs'][1] }}&s={{ result['compared_objs'][0] }}"
                   target="_blank">show</a></td>
            <td><a href="/diffc?f={{ result['compared_objs'][1] }}&s={{ result['compared_objs'][0] }}"
                   target="_blank">show</a></td>
        </tr>
        {%- endfor %}
        <tr>
            <td colspan=6><a href="/cp">all</a></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
